RewriteEngine On
RewriteBase /
RewriteRule ^(media/.*)$ - [L]
RewriteRule ^(admin_media/.*)$ - [L]
RewriteRule ^(book_search\.wsgi/.*)$ - [L]
RewriteRule ^(.*)$ book_search/book_search.wsgi/$1 [QSA,PT,L]