RewriteEngine On
RewriteBase /
RewriteRule ^(media/.*)$ - [L]
RewriteRule ^(admin_media/.*)$ - [L]
RewriteRule ^(book-search\.wsgi/.*)$ - [L]
RewriteRule ^(.*)$ book-search.wsgi/$1 [QSA,PT,L]
RewriteRule ^(.*)$ /book-search.wsgi/$1 [QSA,PT,L]
