{% extends 'base.html' %}

{% block main %}
<h1 class="cover-heading">SEARCH FOR BOOKS</h1>
<p class="lead">Enter Author Name, Book Title or ISBN ID Below</p>

<div class="lead m-20">

    <!-- Search form -->
    <form method="POST" class="md-form mx-auto search-form">
        <input class="form-control search" name="search" type="text" placeholder="Search" aria-label="Search">

        <button type="submit" class="btn btn-lg btn-secondary">Search</button>

    </form>

</div>

<div class="search-result">

    <ol>
        {% for book in data %}

        <li>
            <div class="book">
                <a href="{{url_for('book_details', isbn = book.isbn)}}"> {{book.title}} written by {{book.author}} </a>
            </div>
        </li>
        {% endfor %}

    </ol>


    {% with messages = get_flashed_messages()%}
    {% if messages %}

    {% for message in  messages%}
    <h2>{{ message }}</h2>
    {% endfor %}

    {% endif %}
    {% endwith %}
    


</div>

{% endblock main %}